[language-server.glsl_analyzer]
command = "glsl_analyzer"

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.typos]     
command = "typos-lsp"

# Languages
[[language]] 
name = "html" 
rulers = [200]

[[language]] 
name = "rust" 
language-servers = ["rust-analyzer", "typos", "harper-ls" ]

[[language]]
name = "markdown"
language-servers = [ "marksman", "typos", "harper-ls" ]

[[language]]
name = "toml"
language-servers = [ "taplo", "typos", "harper-ls" ]

[[language]]
name = "rst"
language-servers = [ "typos", "harper-ls" ]
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "latex"
language-servers = [ "texlab", "typos", "harper-ls" ]

[[language]]
name = "glsl"
language-servers = [ "glsl_analyzer", "typos" ]
auto-format = true

[[language]]
name = "make"
language-servers = [ "make-language-server", "typos", "harper-ls" ]
file-types = [ "make", "just", { glob = "Makefile" }, { glob = "justfile" } ]
