configuration {
	modi: "run,drun,window,calc,ssh";
	font: "JetBrainsMono Nerd Font 22";
	terminal: "alacritty";
	display-window: "Tasks";
	display-run: "Run";
	display-ssh: "SSH";
	display-drun: "Launch";
    display-calc: "Calc";
	show-icons:      true;
	sidebar-mode:    true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "sidetab"
