# ZIM modules
zmodule completion
zmodule environment
zmodule input
zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

# Plugins
zmodule rupa/z
