!--------------------------------------------
! Custom DPI
!--------------------------------------------
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
Xft.dpi:       196
Xcursor.size:  48
