#window {
    background-color: rgba(31, 29, 28, 0.308);
}

button {
    border: solid;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 80px;
    color: rgb(0, 85, 255);
}

#description-shutdown {
    font-size: 20px;
    color: white;
}

#description-reboot {
    font-size: 20px;
    color: white;
}

#description-logout {
    font-size: 20px;
    color: white;
}

#description-hibernate {
    font-size: 20px;
    color: white;
}

#description-suspend {
    font-size: 20px;
    color: white;
}

#description-lock {
    font-size: 20px;
    color: white;
}
